<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>COVID Detection</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
<body>
    <h1>COVID-19 X-ray Detection</h1>

    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*" required>
        <button type="submit">Predict</button>
    </form>

    {% if prediction %}
        <h2>Result: {{ prediction }} (Confidence: {{ confidence }})</h2>
        <img src="{{ image_path }}" alt="Uploaded Image">
    {% endif %}

    <h2>Visualization of used model metrics</h2>
    <img src="{{ heatmap_url }}" alt="Confusion Matrix">
    <img src="{{ accuracy_loss_url }}" alt="Accuracy & Loss Metrics">
    <img src="{{ precision_recall_url }}" alt="Precision & Recall Metrics">

    <h2>Classification Report</h2>
    <pre>{{ report_text }}</pre>
</body>
</html>
